body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.board {
  margin: 100px;
  font-size: 0;
}
.row {
  display: block;
  max-width: 1026px;
  font-size: 0;
}

.case {
  max-width: 40px;
  font-size: 0;
  display: inline-block;
}

.subcase {
  font-size: 0;
  width: 18px;
  height: 18px;
  background-color: #FEF3E2;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #FA812F;
}
