body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.board {
  margin: 100px;
  width: 798px;
  padding: auto;
  font-size: 0;
  border-color: #FA812F;
  border-style: solid;
  border-width: 2px;
}
.row {
  display: block;
  width: 798px;
  font-size: 0;
}

.case {
  font-size: 0;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 0;
  display: inline-block;
  border-color: #FA812F;
  background-color: #FEF3E2;
  border-style: solid;
  border-width: 1px;
}

.case:hover {
  background-color: white;
}

.pawn {
  display: none;
  background-color: black;
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 7px;
  top: 7px;
}